/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  font-family: "CircularSpotifyTxT-Black";
}
@font-face {font-family: "CircularSpotifyTxT-Black";
  src: url("../fonts/spotify.eot");
  src: url("../fonts/spotify.eot?#iefix") format("embedded-opentype"),
  url("../fonts/spotify.woff2") format("woff2"),
  url("../fonts/spotify.woff") format("woff"),
  url("../fonts/spotify.ttf") format("truetype"),
  url("../fonts/spotify.svg#CircularSpotifyTxT-Black") format("svg");
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* //////////////////////////// */
/* SIDEBAR SECTION */

#sidebar {
  color: #a3a3a3;
  position: absolute;
  top:0;
  left:0;
  width: 160px;
  height: calc(100% - 60px);
  background-color: black;
}

.main-menu {
  list-style-type: none;
  height: 30px;
  line-height: 30px;
}

.main-menu li {
  margin-bottom: 10px;
  padding-left : 20px;
}
.main-menu a {
  text-decoration: none;
  color: #a3a3a3;
}

.main-menu li:hover {
  border-left: 2px solid #adff2f;
}

.icon-menu {
  margin-right: 5px;
  color: #282828;
  vertical-align: middle;
  width: 24px;
}


/* ///////////////// */
/* MAIN PAGE */

#main-page {
  position: absolute;
  top:0;
  right:0;
  width: calc(100% - 160px);
  height: calc(100% - 60px);
  background-color: #141922;
  overflow: hidden;
}

/* /////////////////////// */
/* NOW PLAYING */

#now-playing {
  position: fixed;
  bottom:0;
  left:0;
  height: 60px;
  width: 100%;
  background-color: #282828;
}

/* ////////////////////////// */
/* HELPER */
.flex-container {
  display: flex;
  flex-direction: column;
}

.padding-all {
  padding: 20px;
}
