/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  font-family: "CircularSpotifyTxT-Black";
}
@font-face {font-family: "CircularSpotifyTxT-Black";
  src: url("../fonts/spotify.eot");
  src: url("../fonts/spotify.eot?#iefix") format("embedded-opentype"),
  url("../fonts/spotify.woff2") format("woff2"),
  url("../fonts/spotify.woff") format("woff"),
  url("../fonts/spotify.ttf") format("truetype"),
  url("../fonts/spotify.svg#CircularSpotifyTxT-Black") format("svg");
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
}

body button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* //////////////////////////// */
/* SIDEBAR SECTION */
/* Sidebar top side */
#sidebar {
  color: #a3a3a3;
  position: absolute;
  top:0;
  left:0;
  width: 160px;
  height: calc(100% - 60px);
  background-color: black;
}

.sidebar-top{
  height: 70%;
  overflow-y: auto;
  min-height: 300px;
}
.main-menu {
  list-style-type: none;

}

.main-menu li {
  margin-bottom: 20px;
  padding-left : 20px;
}
.main-menu a {
  text-decoration: none;
  color: #a3a3a3;
}



.icon-menu {
  margin-right: 5px;
  color: #282828;
  vertical-align: middle;
  width: 24px;
}

#playlist {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left : 20px;
  color: white;
  font-weight: bold;
}

#add-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #a3a3a3;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  vertical-align: middle;
}

.icon-small {
  overflow: hidden;
  display: none;
}

/* sidebar bottom side */
.sidebar-bot {
  display: flex;
  flex-flow: column;
  width: 160px;
  height: 30%;
  justify-content: flex-end;
  margin-left: 10px;
  background-color: inherit;
}

.sidebar-bot a:first-child img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.sidebar-bot a:last-child img {
  width: 30px;
  height: 30px;
  vertical-align:middle;
  border-radius: 50%;
  background-color: grey;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebar-bot a {
  text-decoration: none;
  color: inherit;
}




.sidebar-bot hr {
  width: 140px;
  color: #a3a3a3;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ///////////////// */
/* MAIN PAGE */

#main-page {
  position: absolute;
  top:0;
  right:0;
  width: calc(100% - 160px);
  height: calc(100% - 60px);
  background-color: #141922;
  color: white;
  overflow-y: auto;
}


/* BANNER MAIN PAGE FOR MAKE MONEY */

.banner {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color:#080b12;
}

.banner a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 500px;
  font-size: 0.7rem
}
.banner-btn {
  margin-right: 10px;
}



/* MAIN PAGE CATEGORIES */
.categories {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.categories ul {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 60px;
}
.categories li {
  display: inline-block;
  color: #a3a3a3;
  font-size: 0.9rem;
  margin-right: 20px;
  padding-bottom: 10px;
}

.border-fixed{
  border-bottom: 2px solid #adff2f;
}

/* MAIN PAGE recently played */

.title-big {
  margin-left: 20px;
  margin-bottom: 30px;
}

.cover img {
  width: 150px;
}
.cover{
  position: relative;
}

.album {
  text-align: center;
}

.title {
  max-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subtitle {
  max-width: 150px;
  color: #a3a3a3;
  font-size: 0.8rem;
}

/* MAIN PAGE created for you */

.sub-for-me {
  margin: 15px 20px;
  color: #a3a3a3;
  font-size: 0.8rem;
}

.title-for-me {
  margin-left: 20px;
  margin-top: 30px;
}

/* MAIN PAGE Popular Artists */
.rounded img {
  border-radius: 50%;
}

/* /////////////////////// */
/* NOW PLAYING */

#now-playing {
  position: fixed;
  bottom:0;
  left:0;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  background-color: #282828;
  color: white;
}

.flex-player {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.player-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 60px;
  min-width: 160px;
}

.player-mid {
  width:40%;
  height: 60px;
  min-width: 350px;
}

.player-right {
  width: 30%;
  justify-content: flex-end;
  min-width: 160px;
  align-items: center;
}

.player-right a {
  color: white;
  margin-right: 10px;
}
/* NOW PLAYING player left */
.album-player {
  width: 40px;
  display: flex;
  justify-content: center;
}

.flex-column {
  display:flex;
  flex-flow:column wrap;
  margin-left: 5px;
}
.artist {
  font-size: .9rem;
}
.song-name {
  color: #a3a3a3;
  font-size: .7rem;
}

.flex-icon {
  align-items: flex-end;
}

.icon-player i {
  margin-left: 10px;
  color: #a3a3a3;
}

/* NOW PLAYING player mid */

.controls {
  justify-content: space-evenly;
  align-items: flex-end;
}

.progress-bar {
  justify-content: center;
  align-items: center;
  font-size: .7rem;
}
.p-bar {
  width: 80%;
  height: 3px;
  background-color: #a3a3a3;
  margin: 0 10px;
  border-radius: 20%;
}

.p-bar-white {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  height: 3px;
  background-color: white;
  border-radius: 20%;
}

.progress-ball {
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  text-align: right;
  align-self: center;
}

/* PLAYER right */

.short {
  width: 30%;
}

/* HOVER PROPERTIES */
.categories li:hover {
  border-bottom: 2px solid #adff2f;
}

.p-bar:hover .progress-ball {
  display: inline;
}

.p-bar:hover .p-bar-white {
  background-color: #c8ff00;
  cursor: pointer;
}
.fa-play-circle-o:hover {
  transform: scale(1.1);
}

.icon-player i:hover {
  color: white;
  cursor: pointer;
}

.icon-player i:active {
  color: red;
}
.main-menu a:hover {
  color: white;
}

.main-menu li:hover {
  border-left: 2px solid #adff2f;
}
.sidebar-bot a:hover {
  color: white;
}

.sidebar-bot li:hover {
  border-left: 2px solid #adff2f;
}
.banner-btn:hover {
  transform: scale(1.1);
}

.cover:hover .overlay {
  opacity: 1;
}

.cover:hover .overlay-rounded {
  opacity: 1;
}
/* ////////////////////////// */
/* HELPER */

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  height: 50%;
}
.fa-play {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: rgba(0,0,0, 0.5);
}

.overlay-rounded{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: .7s ease;
  background-color: rgba(0,0,0, 0.5);
}
.flex-container {
  display: inline-flex;
  flex-flow: row wrap;
  color: white;
  margin-left: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-all {
  padding: 20px;
}

.margin-right {
  margin-right: 20px;
}

/* MEDIA QUERIES FOR RESPONSIVE LAYOUT */
@media screen and (max-width: 768px) {
  #sidebar {
    width: 80px;
  }
  .sidebar-bot {
    width: 70px;
  }
  .sidebar-bot hr {
    display: none;
  }
  #main-page {
    width: calc(100% - 80px);

  }

  #sidebar .img-logo {
    display: none;
  }

  .icon-small {
    filter: invert(1);
    height: 40px;
    overflow: visible;
    display: block;
  }

  .list-2 {
    overflow: hidden;
    display: none;
  }

  .main-menu li span {
    display: none;
  }

  .sidebar-top img {
    width: 40px;
    height: 40px;
  }

  .sidebar-bot a span {
    display: none;
  }

  .sidebar-bot a {
    text-align: center;
    margin-bottom: 10px;
  }
}
