/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  font-family: "CircularSpotifyTxT-Black";
}
@font-face {font-family: "CircularSpotifyTxT-Black";
  src: url("../fonts/spotify.eot");
  src: url("../fonts/spotify.eot?#iefix") format("embedded-opentype"),
  url("../fonts/spotify.woff2") format("woff2"),
  url("../fonts/spotify.woff") format("woff"),
  url("../fonts/spotify.ttf") format("truetype"),
  url("../fonts/spotify.svg#CircularSpotifyTxT-Black") format("svg");
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* //////////////////////////// */
/* SIDEBAR SECTION */
/* Sidebar top side */
#sidebar {
  color: #a3a3a3;
  position: absolute;
  top:0;
  left:0;
  width: 160px;
  height: calc(100% - 60px);
  background-color: black;
}

.sidebar-top{
  height: 70%;
  overflow-y: auto;
  min-height: 300px;
}
.main-menu {
  list-style-type: none;

}

.main-menu li {
  margin-bottom: 20px;
  padding-left : 20px;
}
.main-menu a {
  text-decoration: none;
  color: #a3a3a3;
}



.icon-menu {
  margin-right: 5px;
  color: #282828;
  vertical-align: middle;
  width: 24px;
}

#playlist {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left : 20px;
  color: white;
  font-weight: bold;
}

#add-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #a3a3a3;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  vertical-align: middle;
}

/* sidebar bottom side */
.sidebar-bot {
  display: flex;
  flex-flow: column;
  width: 160px;
  height: 30%;
  justify-content: flex-end;
  align-items: center;
  background-color: inherit;
}

.sidebar-bot a:first-child img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.sidebar-bot a:last-child img {
  width: 30px;
  height: 30px;
  vertical-align:middle;
  border-radius: 50%;
  background-color: grey;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebar-bot a {
  text-decoration: none;
  color: inherit;
}




.sidebar-bot hr {
  width: 140px;
  color: #a3a3a3;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ///////////////// */
/* MAIN PAGE */

#main-page {
  position: absolute;
  top:0;
  right:0;
  width: calc(100% - 160px);
  height: calc(100% - 60px);
  background-color: #141922;
  color: white;
  overflow-y: auto;
}


/* BANNER MAIN PAGE FOR MAKE MONEY */

.banner {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color:#080b12;
}

.banner a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 500px;
  font-size: 0.7rem
}
.banner-btn {
  margin-right: 10px;
}



/* MAIN PAGE CATEGORIES */
.categories {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.categories ul {
  margin-top: 20px;
  margin-bottom: 50px;
}
.categories li {
  display: inline;
  color: #a3a3a3;
  font-size: 0.9rem;
  margin-right: 20px;
}

/* MAIN PAGE recently played */

.title-big {
  margin-left: 20px;
  margin-bottom: 30px;
}

.cover img {
  width: 150px;
}
.cover{
  display:flex;
  justify-content: center;
}

.album {
  text-align: center;
}

.title {
  max-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subtitle {
  max-width: 150px;
  color: #a3a3a3;
  font-size: 0.8rem;
}

/* MAIN PAGE created for you */

.sub-for-me {
  margin: 15px 20px;
  color: #a3a3a3;
  font-size: 0.8rem;
}

.title-for-me {
  margin-left: 20px;
  margin-top: 30px;
}

/* MAIN PAGE Popular Artists */
.rounded img {
  border-radius: 50%;
}

/* /////////////////////// */
/* NOW PLAYING */

#now-playing {
  position: fixed;
  bottom:0;
  left:0;
  height: 60px;
  width: 100%;
  background-color: #282828;
}

/* HOVER PROPERTIES */
.main-menu a:hover {
  color: white;
}

.main-menu li:hover {
  border-left: 2px solid #adff2f;
}
.sidebar-bot a:hover {
  color: white;
}

.sidebar-bot li:hover {
  border-left: 2px solid #adff2f;
}
.banner-btn:hover {
  transform: scale(1.1);
}

.cover:hover .overlay {
  overflow: visible;
  background-color: red;
}
/* ////////////////////////// */
/* HELPER */

.overlay {
  overflow:hidden;
  width: 100%;
  height: 100%;
}
.flex-container {
  display: inline-flex;
  flex-flow: row wrap;
  color: white;
  margin-left: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-all {
  padding: 20px;
}

.margin-right {
  margin-right: 20px;
}
